<div class="card">

  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body" *ngIf="books?.length">
    <div class="list-group">
      <button class="list-group-item list-group-item-action rounded-0"
          *ngFor="let book of books"
          [ngClass]="{'active': book?.id === selectedBook?.id}"
          (click)="bookSelected(book)">{{ book.bookName }}
        <ng-container *ngIf="displayCode">
          ({{ book.bookCode }})
        </ng-container>
      </button>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="form-check col-md-7">
        <label>
          <input class="form-check-input"
                 type="checkbox"
                 (change)="checkChanged($event.target.checked)"
                 [checked]="displayCode">
          Display Book Code
        </label>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-primary" (click)="newBook()">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
